body {
    background-color: #2c2b2b; 
    margin: 0;
    height: 100vh;
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

.titulo {
    margin-top: -170px;
    color: white;
    font-family: 'Comic Sans MS', cursive;
    font-size: 40px;
    margin-bottom: 60px;
}

.menu-funcionario-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.botao {
    font-family: 'Comic Sans MS', cursive;
    width: 400px;
    padding: 10px 20px;
    font-size: 30px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: inset 0 0 3px 2px grey, 0 0 0 1px black;
    position: relative;
}


 .botao.encomendas {
    padding: 10px 5px;
    background-color: #ece8e8;
    color: black;
 }

 .botao.encomendas:hover {
    background-color: #1c1c1cd7; 
    color: white;
    transform: scale(1.05); 
 }

 .botao.stock {
    background-color: #ece8e8; 
    color: black; 
 }

 .botao.stock:hover {
    background-color: #1c1c1cd7; 
    color: white;
    transform: scale(1.05); 
 }

.imagem {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    width: 35px;
    height: auto;
}

.imagem2 {
    position: absolute;
    right: 7px;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: auto;
}


.porta {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 60px;
    height: auto;
    transition: transform 0.3s ease, filter 0.3s ease;
}

.porta:hover {
    transform: scale(1.03);
    filter: brightness(1.2);
}
