@page "/menucliente"
@using LI4.Data.Models
@inject NavigationManager NavigationManager

<link rel="stylesheet" href="css/MenuCliente.css" />

<div class="porta">
    <img src="assets/exit.png" alt="exit" class="porta" @onclick="NavigateToHome" /> 
</div>

<div class="menu-cliente-container">
    <h1 class="titulo">Menu</h1>
    <button class="botao encomendar" @onclick="NavigateToEncomendar" >Encomendar <img src="assets/package.png" alt="pacote" class="imagem" /> </button>
    <button class="botao historico" @onclick="NavigateToHistorico">Histórico <img src="assets/box.png" alt="box" class="imagem2" /> </button>
</div>

<div class="notificacao">
    <img src="assets/sino.png" alt="sino" class="sino" /> <!-- @onclick="AbrirNovaAba"  -->
</div>

@code {
    private void NavigateToHome()
    {
        NavigationManager.NavigateTo("/");
    }

    private void NavigateToEncomendar()
    {
        NavigationManager.NavigateTo("/encomendar");
    }

    private void NavigateToHistorico()
    {
        NavigationManager.NavigateTo("/historico");
    }
}
